.gradient {
    background-image: url("https://image.freepik.com/vector-gratis/fondo-degradado-lineas-azules-dinamicas_23-2148995756.jpg");
}

.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
}

header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

